@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #26ad8e;
  --primary-dark: #000;
}

/* #5c26ad */


@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background, #0a0a0a);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.shadow-neon {
  box-shadow: 0 0 10px rgba(29,130,122,0.6),
              0 0 20px rgba(29,130,122,0.4);
}
